/* Home page styles */


body {
    background-image: url("https://images.unsplash.com/photo-1550327149-f5aef60d38f9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1225&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: #35B1F6;
    font-weight: lighter;
    padding: 20px; 
}


.grid{
    display: grid; 
    place-items: center center; 
}

.link{
    padding: 50px; 
    opacity: 0.5; 

}

.btn1{
    padding-left: 40px;
    padding-right: 40px; 
}

.btn2{
    padding-left: 50px;
    padding-right: 50px; 
}

.btn3{
    padding-left: 30px;
    padding-right: 30px; 
}

.navbar-brand{
    font-weight: bold; 
}

.btn-info{
    background-color: #A6E6E9;
    color: black;
    font-weight: bold; 
}



#writing{
    padding-top: 25px; 
    padding-bottom:50px; 
}

.btn-dark{
    padding: 15px 40px; 
    border-radius: 50px; 
}


h3{
    color: black
}
p{
    color: black
}
.prompt{
    padding: 40px;
    background-color: #84D6E1; 
    opacity: 0.4;
}

#warning{
    color: #004B76;
    font-size: 10px; 
    font-weight: bold;

}




hr {
    border-bottom: 1px solid #e7e7e7;
    border-top: 0;
    margin-bottom: 35px;
}


